<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Scribe</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    
    <h1> About Scribe </h1>
    <p> Scribe is a cutting edge Hebrew NLP tool that automatically adds punctuation to Hebrew texts.</p>
    <p> This is Achieved by using Contextual word embeddings, a POS tagger, Deep Neural Networks, and a novel tagging algorithm.</p>
    <p> Written By Yehuda Goldfeder.</p>
      
    {% endblock %}
  </body>
</html>